<header>
    <a href="/"><img src="CrunchyrollLogo.png" class="logo"></a>
    <div class="userBox">
        <img src="/slider/logo/header-user-logo.png">
        <i class="fa-solid fa-caret-down"></i>
    </div>

</header>


    
        